.video-tile-overlay-container {
  width: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 
    -webkit-gradient(linear, left bottom, left top, color-stop(62%, transparent), 
    color-stop(63.94%, rgba(0,0,0,0.00345888)), color-stop(65.89%, rgba(0,0,0,0.014204)), 
    color-stop(67.83%, rgba(0,0,0,0.0326639)), color-stop(69.78%, rgba(0,0,0,0.0589645)), 
    color-stop(71.72%, rgba(0,0,0,0.0927099)), color-stop(73.67%, rgba(0,0,0,0.132754)), 
    color-stop(75.61%, rgba(0,0,0,0.177076)), color-stop(77.56%, rgba(0,0,0,0.222924)), 
    color-stop(79.5%, rgba(0,0,0,0.267246)), color-stop(81.44%, rgba(0,0,0,0.30729)), 
    color-stop(83.39%, rgba(0,0,0,0.341035)), color-stop(85.33%, rgba(0,0,0,0.367336)), 
    color-stop(87.28%, rgba(0,0,0,0.385796)), color-stop(89.22%, rgba(0,0,0,0.396541)), 
    color-stop(91.17%, rgba(0,0,0,0.4)));
  opacity: 0;
  transition: opacity 300ms ease;
  display: flex;
  justify-content: flex-end;
}

/* When you mouse over the container, fade in the overlay title */
.video-tile-overlay-container:hover .overlay {
  opacity: 1;
}
